## Combine 2011 and 2017 census data through fuzzy name matching

This notebook uses fuzzy string matching to identify overlaps in two census datasets. Matches are defined as being 95% similar (Levenshtein distance) and requiring that the person never moves backwards through the progression of tenure-track titles (i.e. a "Full Professor" never becomes an "Assistant Professor")

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process
from fuzzywuzzy import fuzz
import uuid

In [2]:
thresholds = [90, 95, 100]

# Load 2011 data
df2011 = pd.read_csv('./files/2011_faculty.tsv', sep='\t', header=None)
df2011.columns = ['name', 'abbrv_name', 'title', 'place', 'year', 'sex']

# Load 2017 data
df2017 = pd.read_csv('./files/2017_faculty.tsv', sep='\t', header=None)
df2017.columns = ['name', 'abbrv_name', 'title', 'place', 'year']

"""
One possibility would be to match based on name directly:
df2011.merge(df2017, on='abbrv_name', suffixes=("_2011", "_2017"))

Suppose we want some flexibility in the matching, though. That's below.
"""
pass

In [3]:
def get_mapping(threshold=90):
    """ Find a mapping to align 2011 and 2017 names, 
    within a specified threshold (percent similarity). """
    mapping = []
    names = choices=df2017['name'].values

    for i, row in df2011.iterrows():
        matches = process.extract(row['name'], names, limit=25)
        for match in matches:
            if match[1] >= threshold:
                matching_rows = df2017.query('name == "%s"' % match[0])
                for j, _ in matching_rows.iterrows():
                    mapping.append((i, j, match[1]))
    return mapping

# Get mappings for minimum threshold
mapping = get_mapping(95)

## Unpack matches, merge into tables, save to CSVs

In [153]:
# Define typical ordering of titles
titles = {"Assistant Professor":0, "Associate Professor":1, "Full Professor":2}

In [5]:
maps = {}

# For each mapping level, get the set of best matches.
for threshold in [95]:
    temp_map = {}
    for i, j, ratio in mapping:
        
        title_i = titles.get(df2011.iloc[i]['title'], -1)
        title_j = titles.get(df2017.iloc[j]['title'], -1)
        
        # 1) Fuzzy matching ratio should be larger than the threshold
        # 2) There isn't a better match available
        # 3) The 2017 title doesn't regress from 2011
        if ratio >= threshold and i not in temp_map and title_i <= title_j:
            temp_map[i] = j
    maps[threshold] = temp_map

In [8]:
df2017['match_col'] = np.arange(len(df2017))

# Make that set of matches a column (so we can join the two tables)
threshold = 95
link_ids = [maps[threshold].get(i, -1) for i in range(len(df2011))]
df2011['match_col'] = link_ids
merged = df2011.merge(df2017, how='outer', on='match_col', suffixes=("_2011", "_2017"))

In [31]:
a = np.sum(merged['name_2011'].isnull())
b = np.sum(merged['name_2017'].isnull())
c = len(merged)

print(a)
print(b)
print(c - a - b)
print(len(merged))

1776
1556
3461
6793

In [22]:
cleaned = merged[['title_2011', 'place_2011', 'title_2017', 'place_2017', 'sex']].copy()
uids = [uuid.uuid4().hex for i,_ in merged.iterrows()]
cleaned['guid'] = uids

def standardize_institution_name(institution):
    if institution == 'State University of New York, Albany':
        institution = "University of Albany, SUNY"
    elif institution == 'UC Santa Barbara':
        institution = "University of California, Santa Barbara"
    elif institution == 'State University of New York, Binghamton':
        institution = "Binghamton University, SUNY"
    elif institution == 'State University of New York, Stony Brook':
        institution = "Stony Brook University, SUNY"
    elif institution == 'MIT':
        institution = "Massachusetts Institute of Technology"
    elif institution == 'UC Davis':
        institution = "University of California, Davis"
    elif institution == 'State University of New York, Buffalo':
        institution = "University of Buffalo, SUNY"
    elif institution == 'UC Irvine':
        institution = "University of California, Irvine"
    elif institution == "UC Riverside":
        institution = "University of California, Riverside"
    elif institution == 'Missouri University of Science and Technology':
        institution = "Missouri University of Science & Technology"
    elif institution == "University of Kansas, Lawrence":
        institution = "University of Kansas"
    elif institution == "Oregon Health and Science University":
        institution = "Oregon Health & Science University"
    elif institution == "UCLA":
        institution = "University of California, Los Angeles"
    elif institution == "UC Berkeley":
        institution = "University of California, Berkeley"
    elif institution == "Toyota Technological Institute at Chicago":
        institution = "Toyota Technological Institute, Chicago"
    elif institution == "College of William and Mary":
        institution = "College of William & Mary"
    elif institution == "Oakland University (Michigan)":
        institution = "Oakland University"
    elif institution == "University of Minnesota, Minneapolis":
        institution = "University of Minnesota"
    elif institution == "Georgia Tech":
        institution = "Georgia Institute of Technology"
    elif institution == "Queens University":
        institution = "Queen's University"
    elif institution == "Washington State University, Pullman":
        institution = "Washington State University"
    elif institution == "University of North Texas, Denton":
        institution = "University of North Texas"
    elif institution == "UC San Diego":
        institution = "University of California, San Diego"
    elif institution == "Texas A&M":
        institution = "Texas A&M University"
    elif institution == "University of Hawaii, Manoa":
        institution = "University of Hawaii"
    elif institution == "University of Maryland, College Park":
        institution = "University of Maryland"
    elif institution == "Polytechnic Institute of NYU":
        institution = "Polytechnic Institute of New York University"
    elif institution == "UC Santa Cruz":
        institution = "University of California, Santa Cruz"
    elif institution == "CUNY Graduate Center":
        institution = "City University of New York, Graduate Center"
    elif institution == "Concordia University, Montreal":
        institution = "Concordia University"
    elif institution == "University of Idaho, Moscow":
        institution = "University of Idaho"
    elif institution == "New Mexico Institute of Mining and Technology":
        institution = "New Mexico Tech"
    elif institution == "Claremont Graduate University":
        institution = "Claremont Graduate University"

    return institution

places_2011 = []
for i, row in cleaned.iterrows():
    places_2011.append(standardize_institution_name(row['place_2011']))
    
cleaned['place_2011'] = places_2011
cleaned.to_csv('./cleaned_at_95.csv')
#merged.to_csv('./with_names.csv')
cleaned

,title_2011,place_2011,title_2017,place_2017,sex,guid
0,Assistant Professor,Dartmouth College,NaN,NaN,M,be49977642f740edbce2e5f55dbc0297
1,Associate Professor,University of Kansas,NaN,NaN,M,480f1efa35f94529926206fa58fe28a3
2,Associate Professor,Indiana University,NaN,NaN,M,118facd51d78441186cdd4f3041e3428
3,Full Professor,Massachusetts Institute of Technology,NaN,NaN,M,5b86808d7cb04543b5283ce24f4ff614
4,Associate Professor,Northwestern University,NaN,NaN,M,a276b3120d8545dbb4e771a4dab0a0b4
5,Associate Professor,Temple University,NaN,NaN,M,40fb6349c3694d3da6650aafdfa31c74
6,Full Professor,"University of Albany, SUNY",NaN,NaN,M,b43de9fbca3f49d2a1b17e6e5e4e6a90
7,Full Professor,Dalhousie University,NaN,NaN,M,4829a9a10e8b4b77a0a12010cdfdab3c
8,Full Professor,Northwestern University,NaN,NaN,M,bba3310cfd13408db620dface35c21c0
9,Full Professor,Carnegie Mellon University,NaN,NaN,M,c05f0ed20fc64c709c6f1a840006ca60
10,Full Professor,University of Waterloo,NaN,NaN,M,bc7b4173db784b68ba1e5ddd57e3de6f
11,Associate Professor,Stanford University,NaN,NaN,M,9ab16777cc0d405ca5d592e5e7a23ed3
12,Full Professor,Georgia Institute of Technology,NaN,NaN,M,e1d4c77f2a0a48a3aa859c1ad9e309c7
13,Full Professor,Simon Fraser University,NaN,NaN,M,d45aab1d161244bc964fcd4dcf6ca387
14,Associate Professor,University of North Texas,NaN,NaN,F,cb9e7aeaa0d44cfd9587446566dde9c0
15,Full Professor,"University of California, Los Angeles",NaN,NaN,M,22eb821e651241dda605eae7c1b0a657
16,Assistant Professor,University of Southern Mississippi,NaN,NaN,M,b7b569323c4441a192bb24a3df6da139
17,Full Professor,Massachusetts Institute of Technology,NaN,NaN,F,c06cee254c394c21a93b88ba668bfb43
18,Assistant Professor,University of Memphis,NaN,NaN,M,573f9c1d79774061b5b049b3975c0bbb
19,Full Professor,"University of Texas, Dallas",NaN,NaN,M,f4222f8397b94036a319f18230bf665b
20,Full Professor,Boston University,NaN,NaN,M,fd58ec6206e94850ad5c56cbd5486ad7
21,Full Professor,University of Alberta,NaN,NaN,M,9d168b273864444fa118139bb489b4f8
22,Associate Professor,Drexel University,NaN,NaN,M,5153d822afa94b8fb69faeb20431a133
23,Associate Professor,Michigan State University,NaN,NaN,M,a893daacc0cc4cc0a33c5c720879e492
24,Full Professor,Lehigh University,NaN,NaN,M,71fcbfbffd444ab7912ad46ab67f03d1
25,Assistant Professor,North Carolina State University,NaN,NaN,M,50421eb40dfe47679dc3d5f79377a78b
26,Full Professor,Massachusetts Institute of Technology,NaN,NaN,M,756eadd7a78f4ca2a97bfcb737a7025f
27,Full Professor,"Washington University, St. Louis",NaN,NaN,M,726a10cd07af48d8b3abddfedf419b6d
28,Full Professor,Carnegie Mellon University,NaN,NaN,M,9fe1a20cf3ba4bde849e6250f0665a75
29,Full Professor,Johns Hopkins University,NaN,NaN,M,84c75b88a9304e2aaffbf2c6dea4d56a
...,...,...,...,...,...,...
6763,NaN,NaN,Assistant Professor,"Stony Brook University, SUNY",NaN,6e73dff04ca34a9eb26105ee66513941
6764,NaN,NaN,Full Professor,"University of Colorado, Colorado Springs",NaN,d5d5224be93f4cb19d38d4c2d47591af
6765,NaN,NaN,Full Professor,University of Calgary,NaN,114dc5558f7b45aa9c00e7c6a2e4ae60
6766,NaN,NaN,Assistant Professor,"University of Texas, El Paso",NaN,a9198eeec31a4ff2a685e4a7b133be3e
6767,NaN,NaN,Assistant Professor,Northwestern University,NaN,5f11de1c73194184918f52b4a0d34852
6768,NaN,NaN,Assistant Professor,Colorado School of Mines,NaN,dd7f3de2fc0c4f82a1cbf28754d91a8c
6769,NaN,NaN,Assistant Professor,"University of Massachusetts, Boston",NaN,a79911b082084e869b2c09323e773b41
6770,NaN,NaN,Associate Professor,Concordia University,NaN,f235fc26503f43e09fa2c78499436c95
6771,NaN,NaN,Full Professor,University of Iowa,NaN,a6ab838dc9ed488caf4add3d4c0b4131
6772,NaN,NaN,Assistant Professor,University of Michigan,NaN,4b6dee5ec16a458e8ae33ab46be9536e
6773,NaN,NaN,Assistant Professor,Rutgers University,NaN,c66cb645a218431ca0a58e7447046a33
6774,NaN,NaN,Full Professor,Washington State University,NaN,8acb7294c7754dffafecb899850944e3
6775,NaN,NaN,Assistant Professor,Carnegie Mellon University,NaN,46ca217a165247b8aa77aebb3e5ef58f
6776,NaN,NaN,Associate Professor,Rochester Institute of Technology,NaN,a7f204697ef94fcdbeea05c58c1fdc92
6777,NaN,NaN,Assistant Professor,University of Washington,NaN,10953930fc5443c5809a7cf002eb1973
6778,NaN,NaN,Assistant Professor,Michigan State University,NaN,4257a65e4ca34d2ba2c31c7549753664
6779,NaN,NaN,Assistant Professor,Cornell University,NaN,569ee4a9f75041799f75e86c98ccd396
6780,NaN,NaN,Full Professor,Michigan State University,NaN,7c084f9010d740abb2d7b30593d5b9bc
6781,NaN,NaN,Full Professor,York University,NaN,9c0dafa40a044f068629b9b09a2378db
6782,NaN,NaN,Associate Professor,University of Delaware,NaN,e48b197a8e5042d3bb8957ef99d0a9b9
6783,NaN,NaN,Full Professor,University of Alberta,NaN,7c67b08ded5945c2b199f6aef6dd010d
6784,NaN,NaN,Assistant Professor,"University of California, Santa Cruz",NaN,419c543e8b0d4a418ee33d6c231949e4
6785,NaN,NaN,Full Professor,Rensselaer Polytechnic Institute,NaN,c4908426676e4189b3ad6ab14280db40
6786,NaN,NaN,Full Professor,University of Chicago,NaN,c1d5e01af3104bb49837dfcfb3cfde5e
6787,NaN,NaN,Assistant Professor,Florida State University,NaN,556a91e6e28c41318773f8da656ea958
6788,NaN,NaN,Full Professor,Missouri University of Science & Technology,NaN,16346c634fbc476b9d5b042ffddc7641
6789,NaN,NaN,Full Professor,"City University of New York, Graduate Center",NaN,62135accbec447648c1ebe42fee75a7c
6790,NaN,NaN,Assistant Professor,Brigham Young University,NaN,10d21d9ab10d4340b50af2ee53a3e0a3
6791,NaN,NaN,Assistant Professor,Texas A&M University,NaN,c8afdf69f68a40e6adf9848a26d4469e
6792,NaN,NaN,Full Professor,DePaul University,NaN,1d21569ce21c42acb9f362e62dacb7d4

## Highest gain, attrition

### Change in department sizes

In [97]:
totals_2017 = cleaned.groupby('place_2017').count().reset_index()
totals_2017 = totals_2017.rename(index=str, columns={"place_2017":"place", "title_2017":"count"})
totals_2017 = totals_2017[['place', 'count']]

totals_2011 = cleaned.groupby('place_2011').count().reset_index()
totals_2011 = totals_2011.rename(index=str, columns={"place_2011": "place", "title_2011":"count"})
totals_2011 = totals_2011[['place', 'count']]

In [103]:
totals = totals_2017.merge(totals_2011, on='place', suffixes=['_2017', '_2011'])
totals

                                            place  count_2017  count_2011
0                        Arizona State University          46          40
1                               Auburn University          17          18
2                     Binghamton University, SUNY          25          19
3                               Boston University          30          19
4                             Brandeis University          13          12
5                        Brigham Young University          31          28
6                                Brown University          30          26
7              California Institute of Technology           9          16
8                             Carleton University          27          28
9                      Carnegie Mellon University         142         125
10                Case Western Reserve University          17          14
11                 Catholic University of America           5           5
12   City University of New York, Graduate Center          77           7
13                  Claremont Graduate University           3           5
14                            Clarkson University           9           6
15                             Clemson University          29          30
16                      College of William & Mary          18          15
17                       Colorado School of Mines          11           6
18                      Colorado State University          25          25
19                            Columbia University          45          41
20                           Concordia University          41          34
21                             Cornell University          78          55
22                           Dalhousie University          25          36
23                              Dartmouth College          22          17
24                              DePaul University          47          55
25                              Drexel University          16          21
26                                Duke University          36          24
27                    Florida Atlantic University          27          18
28                Florida Institute of Technology          15          17
29               Florida International University          28          25
..                                            ...         ...         ...
175            University of Tennessee, Knoxville          21          19
176                University of Texas, Arlington          25          30
177                   University of Texas, Austin          44          43
178                   University of Texas, Dallas          44          42
179                  University of Texas, El Paso          12          14
180              University of Texas, San Antonio          20          23
181                          University of Toledo           7           7
182                         University of Toronto          50          54
183                           University of Tulsa          13          10
184                            University of Utah          42          34
185                        University of Victoria          23          29
186                        University of Virginia          34          23
187                      University of Washington          54          49
188                        University of Waterloo          70          69
189                 University of Western Ontario          25          26
190              University of Wisconsin, Madison          34          40
191            University of Wisconsin, Milwaukee          11          15
192                         University of Wyoming           6           9
193                         Utah State University          14          14
194                         Vanderbilt University          15          16
195              Virginia Commonwealth University          16          11
196                                 Virginia Tech          37          39
197                   Washington State University          20          17
198              Washington University, St. Louis          25          22
199                        Wayne State University          21          22
200                   Western Michigan University          14          13
201               Worcester Polytechnic Institute          24          24
202                       Wright State University          23          20
203                               Yale University          23          20
204                               York University          40          36

[205 rows x 3 columns]

In [152]:
totals['perc_change'] = 100*(totals['count_2017'] - totals['count_2011']) / totals['count_2011']
totals = totals.sort_values(['perc_change']).reset_index()
totals.to_csv('./dept_totals.csv')
totals

,index,place,count_2017,count_2011,perc_change
0,33,Georgia Institute of Technology,31,89,-65.168539
1,77,Queen's University,18,35,-48.571429
2,7,California Institute of Technology,9,16,-43.750000
3,13,Claremont Graduate University,3,5,-40.000000
4,32,George Washington University,14,22,-36.363636
5,45,Massachusetts Institute of Technology,48,75,-36.000000
6,174,University of Southern Mississippi,11,17,-35.294118
7,69,Oregon Health & Science University,8,12,-33.333333
8,192,University of Wyoming,6,9,-33.333333
9,22,Dalhousie University,25,36,-30.555556
10,102,"University of Arkansas, Little Rock",7,10,-30.000000
11,40,Kansas State University,12,17,-29.411765
12,136,University of Maine,5,7,-28.571429
13,78,Rensselaer Polytechnic Institute,24,33,-27.272727
14,103,University of Bridgeport,8,11,-27.272727
15,46,McGill University,30,41,-26.829268
16,191,"University of Wisconsin, Milwaukee",11,15,-26.666667
17,169,University of Rochester,18,24,-25.000000
18,60,North Dakota State University,12,16,-25.000000
19,25,Drexel University,16,21,-23.809524
20,52,Missouri University of Science & Technology,13,17,-23.529412
21,143,University of Memphis,10,13,-23.076923
22,51,Mississippi State University,14,18,-22.222222
23,185,University of Victoria,23,29,-20.689655
24,43,Long Island University,4,5,-20.000000
25,95,"University of Alabama, Birmingham",8,10,-20.000000
26,50,Michigan Technological University,13,16,-18.750000
27,97,"University of Alabama, Tuscaloosa",14,17,-17.647059
28,90,Temple University,19,23,-17.391304
29,176,"University of Texas, Arlington",25,30,-16.666667
...,...,...,...,...,...
175,120,"University of Colorado, Denver",9,7,28.571429
176,23,Dartmouth College,22,17,29.411765
177,183,University of Tulsa,13,10,30.000000
178,75,Princeton University,38,29,31.034483
179,2,"Binghamton University, SUNY",25,19,31.578947
180,73,Polytechnic Institute of New York University,23,17,35.294118
181,30,Florida State University,22,16,37.500000
182,35,Harvard University,29,21,38.095238
183,100,University of Arizona,18,13,38.461538
184,128,University of Idaho,14,10,40.000000
185,21,Cornell University,78,55,41.818182
186,144,University of Miami,10,7,42.857143
187,111,"University of California, Riverside",30,21,42.857143
188,79,Rice University,26,18,44.444444
189,82,Santa Clara University,13,9,44.444444
190,195,Virginia Commonwealth University,16,11,45.454545
191,186,University of Virginia,34,23,47.826087
192,14,Clarkson University,9,6,50.000000
193,26,Duke University,36,24,50.000000
194,39,Johns Hopkins University,27,18,50.000000
195,147,University of Mississippi,6,4,50.000000
196,27,Florida Atlantic University,27,18,50.000000
197,61,Northeastern University,57,37,54.054054
198,70,Oregon State University,31,20,55.000000
199,3,Boston University,30,19,57.894737
200,17,Colorado School of Mines,11,6,83.333333
201,71,Pace University,34,17,100.000000
202,168,University of Rhode Island,18,7,157.142857
203,117,University of Cincinnati,21,7,200.000000
204,12,"City University of New York, Graduate Center",77,7,1000.000000

### Retention

In [150]:
retained = cleaned.query('place_2011 == place_2017').groupby('place_2011').count().reset_index()
retained = retained.rename(index=str, columns={"place_2011":"place", "title_2011":"count"})[['place', 'count']]

not_retained = cleaned.query('place_2011 != place_2017').groupby('place_2011').count().reset_index()
not_retained = not_retained.rename(index=str, columns={"place_2011":"place", "title_2011":"count"})[['place', 'count']]

retained = retained.merge(not_retained, on='place', suffixes=['_ret', '_not'])
retained['retained_frac'] = retained['count_ret'] / (retained['count_ret'] + retained['count_not'])
retained = retained.sort_values(['retained_frac'], ascending=False).reset_index()
retained.to_csv('./retention.csv')
retained

,index,place,count_ret,count_not,retained_frac
0,79,Rice University,17,1,0.944444
1,139,"University of Massachusetts, Boston",11,1,0.916667
2,151,"University of Nevada, Las Vegas",10,1,0.909091
3,3,Boston University,17,2,0.894737
4,82,Santa Clara University,8,1,0.888889
5,129,University of Iowa,15,2,0.882353
6,55,New Jersey Institute of Technology,22,3,0.880000
7,30,Florida State University,14,2,0.875000
8,167,University of Saskatchewan,21,3,0.875000
9,160,University of Oklahoma,13,2,0.866667
10,34,Georgia State University,13,2,0.866667
11,94,Tufts University,13,2,0.866667
12,165,University of Regina,13,2,0.866667
13,147,"University of Missouri, Kansas City",13,2,0.866667
14,168,University of South Carolina,19,3,0.863636
15,12,"City University of New York, Graduate Center",6,1,0.857143
16,31,George Mason University,35,6,0.853659
17,100,University of Arizona,11,2,0.846154
18,4,Brandeis University,10,2,0.833333
19,57,New Mexico Tech,5,1,0.833333
20,144,University of Minnesota,30,6,0.833333
21,108,"University of California, Davis",27,6,0.818182
22,111,"University of California, Riverside",17,4,0.809524
23,38,Iowa State University,21,5,0.807692
24,58,New York University,25,6,0.806452
25,148,University of Montreal,29,7,0.805556
26,162,University of Ottawa,29,7,0.805556
27,56,New Mexico State University,8,2,0.800000
28,123,University of Georgia,16,4,0.800000
29,43,Long Island University,4,1,0.800000
...,...,...,...,...,...
172,98,"University of Albany, SUNY",7,7,0.500000
173,191,Vanderbilt University,8,8,0.500000
174,62,Northwestern University,17,17,0.500000
175,17,Colorado School of Mines,3,3,0.500000
176,89,Syracuse University,7,7,0.500000
177,166,University of Rochester,12,12,0.500000
178,154,University of New Hampshire,5,5,0.500000
179,22,Dalhousie University,18,18,0.500000
180,119,"University of Colorado, Colorado Springs",5,5,0.500000
181,51,Mississippi State University,9,9,0.500000
182,95,"University of Alabama, Birmingham",5,5,0.500000
183,78,Rensselaer Polytechnic Institute,16,17,0.484848
184,28,Florida Institute of Technology,8,9,0.470588
185,194,Washington State University,8,9,0.470588
186,87,Stevens Institute of Technology,6,7,0.461538
187,157,"University of North Carolina, Charlotte",11,13,0.458333
188,189,University of Wyoming,4,5,0.444444
189,25,Drexel University,9,12,0.428571
190,45,Massachusetts Institute of Technology,32,43,0.426667
191,40,Kansas State University,7,10,0.411765
192,52,Missouri University of Science & Technology,7,10,0.411765
193,13,Claremont Graduate University,2,3,0.400000
194,141,University of Memphis,5,8,0.384615
195,192,Virginia Commonwealth University,4,7,0.363636
196,77,Queen's University,12,23,0.342857
197,69,Oregon Health & Science University,4,8,0.333333
198,90,Temple University,7,16,0.304348
199,171,University of Southern Mississippi,5,12,0.294118
200,33,Georgia Institute of Technology,25,64,0.280899
201,7,California Institute of Technology,1,15,0.062500